metadata.old.db
python/.direnv/
python/.envrc
ebooks/
ebooks2/
ebooks3/
libwall.jpg
nbproject/private/
david_ebooks/
test_lib/
foliate-js/
node_modules/
data.ms/
vendor/
dcc_list/
downloads/
ircLog/
webfonts/
css/
abc.epub
book.epub
cache/
calibre_wireless/
cover.jpg
driver.py
koreader.py
kosend.py
uploaded_books/
genocide/
library.sqlite
Comparative_Analysis.txt 
Comparative_Analysis_expanded.md
